<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue 测试实例</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <style>
        .class1{
            background:#444;
            color:#eee;
        }
    </style>
</head>
<body>
<div id="app">
    <p>{{message}}</p>
    <div v-html="message1"></div>
    <br>
    <label for="r1">修改颜色</label><input type="checkbox" v-model="class1" id="r1">
    <br>
    <div  v-bind:class="{'class1': class1}">
        v-bind:class指令
    </div>
    <br>
    {{5+5}}<br>
    {{ok ? 'YES' : 'NO'}}<br>
    {{message.split('').reverse().join('')}}
    <div v-bind:id="'list-' + id">菜鸟教程</div>
    <br>
    <p v-if="seen">现在你看到我了</p>
    <template v-if="ok">
        <h1>菜鸟教程</h1>
        <p>学的不仅是技术，更是梦想！</p>
        <p>哈哈哈，打字辛苦啊！！！</p>
    </template>
    <pre><a v-bind:href="url">菜鳥</a></pre>
    {{message | capitalize}}
</div>
<script>
    new Vue({
        el:'#app',
        data:{
            message:'test vue.js',
            message1: '<h1>菜鸟教程</h1>',
            class1:false,
            ok:true,
            id:1,
            seen:false,
            url:'http://www.runoob.com'
        },
        filters: {
            capitalize: function (value) {
                if (!value) return ''
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        }
    })
</script>
</body>
</html>
